---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
<!-- <div class="wpb_raw_code wpb_raw_js" > -->
    <!-- <div class="wpb_wrapper"> -->
      <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&t=m&d=JjZqaQOb0X-WoWcuF9JT-NRFmQNi048ShcfGoT17VVI&co=2d78ad&ct=ffffff&cmo=3acc3a&cmn=ff5353'></script>
    <!-- </div> -->
  <!-- </div> -->

  </body>
</html>
